# Gradle
.gradle/
build/
**/build/

# Android Studio
local.properties
*.iml
.idea/
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore
